{% block cryptoListView %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Price</th>
                <th>1h%</th>
                <th>24h%</th>
                <th>MarketCap</th>
                <th>Volume</th>
            </tr>
            </thead>
            <tbody> {% for crypto in cryptos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ crypto.name }}</td>
                    <td>${{ crypto.price }}</td>
                    <td class="{% if crypto.one_hour_flag == -1 %}text-danger{% elif crypto.oneHourFlag == 1 %}text-success{% else %}text-muted{% endif %}">{{ crypto.one_hour_change }}</td>
                    <td class="{% if crypto.twenty_four_hour_flag == -1 %}text-danger{% elif crypto.TwentyFourHourFlag == 1 %}text-success{% else %}text-muted{% endif %}">{{ crypto.twenty_four_hour_change }}</td>
                    <td>${{ crypto.market_cap }}</td>
                    <td>${{ crypto.volume }}</td>
                </tr> {% endfor %} </tbody>
        </table>
    </div> {% endblock %}