{% extends 'CoinEx_Index/base.html' %}
{% load static %}

{% block content %}
<div class="form-style-10">
    <h1>Log In</h1>
    <form method="post">
        {% csrf_token %} {{ form.non_field_errors | safe }}
        <div class="section"><span>1</span>User Details</div>
        <div class="inner-wrap">
            <label for="{{ form.username.id_for_label }}">Your Email 
                <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" />
            </label>
            <label for="{{ form.password.id_for_label }}">Password {{ form.password.errors | safe }}
                <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" />
            </label>           
        </div>

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
    
        
        <div class="button-section">
         <input type="submit" />
         <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
    </div>

    {% endblock %}


